body, html {
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-family: 'tagsxtremeregular', sans-serif;
  font-size: 110px;
  font-weight: bolder;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 45px;
}

li {
  margin-left: -30px;
}

i {
  margin-right: 10px;
}


a {
  text-decoration: none;
  font-size: 28px;
  font-weight: bolder;
  color: #fff;
}

a:hover {
  color: black;
}

.logo{
  position: absolute;
  padding: 2rem;
  top: 88%;
  left: 80%;
  width: 300px;

}

.header-landing {
  padding: 1rem;
  position: fixed;
  left: 30%;
}

.header-landing img {
  width: 40rem;
  height: 5rem;
}

.main {
  background-color: #333;
  background-image: url(../images/png/landing_page_bg.png);
  background-position: center;
  background-size: cover;
  display: table;
  height: 100vh;
  width: 100vw;
  margin: 0;
  /* padding: 2rem; */
}

.main .flex-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.flex-container {
  position: relative;
  /* top: 42%; */
  top: 35%;
  margin-left:75px;
  padding-left: 30px;
  
}

.flex-container ul li {
  list-style: none;
  font-size: 22px;
}

.info {
  margin-top: 25px;
  margin-left: 10px;
  line-height: 2.5;
}

.btn-div {
  margin-top: -1rem;
  /* position: fixed; */
  /* left: 78%;
  top: 89%; */
  /* left: 50%;
  top: 90%; */
}

.btn-custom {
  background-color: rgb(85, 12, 193);
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: bolder;
  border: none;
  border-radius: 2rem;
  color: #fff;
  display: block;
  letter-spacing: .2rem;
  margin:1rem;
  height: 55px;
  width: 15%;
  position: fixed;
  /* bottom: 8px; */
  text-align: center;
  z-index: 99;

}

.btn-custom:hover {
  background:#fff !important;
  color: black !important;
  font-weight: bolder;

}

/* responsive edits */

@media (max-width: 1024px) {

  .header-landing {
    position: relative;
    left: 17%;
  }

  .flex-container {
    /* border: 1px solid red; */
    position: absolute;
    top: 45%;
  }

  .logo {
    left: 70%;
  }

  .btn-custom {
    width: 12rem;
  }
}

@media (max-width: 834px) {

  .header-landing {
    position: relative;
    left: 10%;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 33px;
  }

  .flex-container {
    /* border: 1px solid red; */
    position: absolute;
    top: 40%;
    margin-left: 3.5rem;
  }

  .info {
    font-size: 16px;
  }

  .logo {
    left: 65%;
  }

  .btn-custom {
    width: 12rem;
  }
}

@media (max-width: 768px) {

  .header-landing {
    position: relative;
    left: 6%;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 28px;
  }

  .flex-container {
    /* border: 1px solid red; */
    position: absolute;
    top: 40%;
    margin-left: 3.5rem;
  }

  .info li {
    font-size: 12px;
  }

  .logo {
    left: 60%;
  }

  .btn-custom {
    width: 12rem;
  }
}

@media (max-width: 414px) {

  .header-landing {
    position: relative;
    left: 5%;
  }

  .header-landing img {
    width: 21rem;
    height: 3rem;
  }

  h1 {
    font-size: 40px;
    margin-left: .5rem;
  }

  h2 {
    font-size: 20px;
  }

  .flex-container {
    /* border: 1px solid red; */
    position: absolute;
    top: 40%;
    margin-left: .1rem;
    padding-left: 1rem;
  }

  .info ul > li {
    font-size: 12px;
  }

  .logo {
    left: 55%;
    width: 200px;
    height: 100px;
    
  }

  .btn {
    font-size: 16px;

  }

  .btn-custom {
    width: 10rem;
    height: 2rem;
    
  }
}


@media (max-width: 375px) {

  .header-landing {
    position: relative;
    left: 1%;
  }

  .header-landing img {
    width: 21rem;
    height: 3rem;
  }

  h1 {
    font-size: 40px;
    margin-left: .5rem;
  }

  h2 {
    font-size: 18px;
  }

  .flex-container {
    /* border: 1px solid red; */
    position: absolute;
    top: 40%;
    margin-left: .1rem;
    padding-left: 1rem;
  }

  .info ul > li {
    font-size: 10px;
  }

  .logo {
    left: 55%;
    width: 180px;
    height: 90px;
    
  }

  .btn {
    font-size: 16px;

  }

  .btn-custom {
    width: 10rem;
    height: 2rem;
    
  }
}

@media (max-width: 320px) {

  .header-landing {
    position: relative;
    left: 0;
  }

  .header-landing img {
    width: 18rem;
    height: 2rem;
  }

  h1 {
    font-size: 35px;
    margin-left: .5rem;
  }

  h2 {
    font-size: 16px;
  }

  .flex-container {
    /* border: 1px solid red; */
    position: absolute;
    top: 43%;
    left: 1%;
    margin-left: 0;
    padding-left: .3rem;
  }

  .info ul > li {
    font-size: 10px;
  }

  .logo {
    left: 50%;
    bottom: 30px;
    width: 180px;
    height: 90px;
    
  }

  .btn {
    font-size: 14px;

  }

  .btn-custom {
    width: 8rem;
    height: 2rem;
    
  }
}
