* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 2.4;
  background: #23243A;
}

h1 {
  font-family: 'tagsxtremeregular', sans-serif;
  font-size: 100px;
  font-weight: bolder;
}

h2 {
  font-weight: 900;
  font-size: 40px;

}

ul {
  list-style-type: none;
}

li {
  margin-left: -30px;
}

i {
  margin-right: 10px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main {
  background-image: url(../images/png/landing_page_bg.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;

}

.tagline-top {
  margin: 0;
  padding: 1rem 0 2rem 0;
}

.tagline-top .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-landing img {
  max-width: 100%;
  height: 5rem;
}

.landing-main {
  margin: 0 auto;
  padding: 2rem;
  height: 75%;
}

.landing-main .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding-top: 12rem;
}

.info {
  margin-top: 25px;
  margin-left: 10px;
  line-height: 2.5;
}

.btn-custom {
  transition-duration: 0.2s;
  background-color: rgb(85, 12, 193);
  font-size: 24px;
  font-weight: bolder;
  border: none;
  border-radius: 2rem;
  letter-spacing: .2rem;
  margin: 1rem;
  height: 50px;
  width: 12rem;
  text-align: center;

}

.btn-custom:hover {
  background: #fff !important;
  color: black !important;

}

.logo {
  width: 300px;
  padding: 1rem;

}

.logo-bottom {
  margin: 0;
  padding: 0;
  height: 3rem;
}

.logo-bottom .container {
  display: flex;
  justify-content: flex-end;

}

/* responsive edits */

@media (max-width: 1024px) {

  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 43px;
  }

  .landing-main {
    height: 80%;
  }

  .landing-main .container {
    padding-top: 22rem;
  }

  .list-div {
    font-size: 24px;
  }
}

@media (max-width: 834px) {


  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 36px;
  }

  .landing-main {
    height: 78%;
  }

  .landing-main .container {
    padding-top: 18rem;
  }


  .list-div {
    font-size: 20px;
  }

  .logo {
    width: 220px;
  }

}

@media (max-width: 768px) {

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 28px;
  }

  .landing-main {
    height: 75%;
  }

  .landing-main .container {
    padding-top: 18rem;
  }

  .list-div {
    font-size: 16px;
  }

}

@media (max-width: 680px) {

  .header-landing img {
    max-width: 100%;
    height: 4rem;
    padding-top: 1rem;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 24px;
  }

}

@media (max-width: 608px) {

  h1 {
    font-size: 60px;
  }

  .logo {
    width: 200px;

  }
}

@media (max-width: 560px) {

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 22px;
  }
}


@media (max-width: 540px) {

  h1 {
    font-size: 55px;
  }

  .landing-main {
    height: 80%;
  }

  .landing-main .container {
    padding-top: 14rem;
  }

  .list-div {
    padding-top: 2rem;
  }

  .logo-bottom {
    margin-bottom: 2rem;
  }

}

@media (max-width: 414px) {

  .landing-main {
    padding: .4rem;
  }

  .container {
    margin: 0;
    padding: 0;
  }

  .header-landing {
    margin: 0;
  }

  .header-landing img {
    width: 21rem;
    height: 4rem;
  }

  h1 {
    font-size: 50px;
    margin-left: .5rem;
  }

  h2 {
    font-size: 20px;
  }

  .landing-main {
    height: 75%;
  }

  .landing-main .container {
    padding-top: 9rem;
  }

  .list-div {
    padding-top: 1rem;
  }

  .info ul>li {
    font-size: 12px;
  }

}


@media (max-width: 375px) {

  h1 {
    font-size: 40px;
    margin-left: .5rem;
  }

  h2 {
    font-size: 18px;
    padding-top: 0;
    margin: 0 .5rem;
  }

  .landing-main {
    padding: 1rem .5rem;
    height: 73%;
  }

  .landing-main .container {
    padding-top: 9rem;
  }

  .info {
    margin: 0;
  }

  .list-div {
    margin: .3rem;
  }

  .info ul>li {
    font-size: 10px;
  }

  .logo {
    width:150px;

  }

  .btn {
    font-size: 20px;

  }

  .btn-custom {
    width: 10rem;
    height: 3rem;

  }
}

@media (max-width: 320px) {

  .container {
    margin: .1rem;
    padding: 0;
  }

  .header-landing {
    width: 90%;
    height: 2rem;
  }

  .landing-main {
    padding: 1rem .1rem;
    height: 78%;
  }

  .landing-main .container {
    padding-top: 8rem;
  }

  .tagline-top {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 35px;
    margin-left: .5rem;
  }

  h2 {
    font-size: 16px;
  }

  .info ul>li {
    font-size: 9px;
    line-height: 3.5;
  }

  .logo {
    width: 120px;
  }

  .btn {
    font-size: 14px;

  }

  .btn-custom {
    width: 8rem;
    height: 2.2rem;

  }

}