/* music app CSS styling - todo just a basic template */

:root {
  --black: #111111;
  --darkest: #303030;
  --darker: #333333;
  --dark: #555555;
  --shade: #3E3E3E;
  --light: #fff;
  --pink: #E34EB3;
  --orange: #ED9464;
  --aubergine: #73276D;
  --purps: rgb(85, 12, 193);
  --purps_lite: #a561ee;
  --green: #07d159;
  --warning: #D65745;
  --light-purps: rgb(132, 89, 197);
  --hover-span: rgb(0, 255, 30);
  --box-shadow: 5px 7px rgba(0, 0, 0, 0.2);
  --gradient: linear-gradient(45deg,
      rgba(54, 54, 54, 0.8) 0%,
      rgba(125, 125, 125, 0.7) 100%);
  --gradient-light: linear-gradient(45deg,
      rgba(158, 158, 158, 0.8) 0%,
      rgba(255, 255, 255, 0.7) 100%);
  --btn-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2),
    0 7px 10px 0 rgba(0, 0, 0, 0.1);

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: 1px solid red; */
}

body {
  background-color: var(--black);
  font-family: 'Poppins', sans-serif;
  color: var(--light);
  line-height: 1.5;
  padding: 0;
  margin: 0;
  height: 200vh;

}

h1 {
  font-family: 'tagsxtremeregular', sans-serif;
  font-size: 110px;
  font-weight: 900;
}

h2 {
  font-size: 28px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
}

p {
  font-weight: 700;
}

ul {
  padding-top: 1rem;
  padding-left: 1.5rem;
}

ul>li {
  list-style-type: none;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: var(--light);
}

a:hover {
  color: var(--highlight);
}

i {
  padding: 1rem;
}

input {
  text-transform: capitalize; 
  padding-left: .7rem;
  border-radius: .5rem;
  border: none;
  width: 13rem;
  height: 2rem;
}

hr {
  border: 2px solid var(--dark);
  width: 75%;
  margin: 0 auto;
}

span {
  color: var(--light);
}

/* buttons */

.btn {
  background: var(--purps);
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: .2rem;
  margin: 1rem;
  color: var(--light);
  border-radius: 2rem;
}

.btn-warning {
  background-color: var(--warning);
  border: none;
}

.btn:hover {
  background: var(--light) !important;
  color: black !important;
}

.start-button {
  border-radius: 2rem;
  padding: 1rem 2rem;
  width: 25%;
  font-size: 22px;
}

.event-btn-block {
  display: block;
  background-color: var(--darker);
  margin-top: -3rem;
}

.event-btn-block .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.events-button {
  background-color: var(--green);
}

.search-button {
  width: 12.5rem;
}

/* HOME PAGE - LIBRARY */

.search-title-hide {
  display: none;
}

/* flex container */

.container {
  margin: 0 auto;
}

/* header */

.header {
  background-color: var(--darkest);
  padding: 2rem;
  padding-top: 1rem;
  margin-bottom: 0;
  animation-name: slideDown;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  -webkit-animation-name: slideDown;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: none;

}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-image img {
  width: 200px;
}

.header-title {
  margin-top: 2rem;
}

/* sticky nav search */

.custom-nav {
  z-index: 99;
  background: var(--darker);
  margin: 0;
  margin-bottom: 2rem;
  margin-top: -1rem;
  height: 5rem;
  border-bottom: 9px solid var(--shade);
  animation: fadeIn .5s normal backwards;
  animation-iteration-count: 1;
  animation-delay: .4s;

}

#search-area .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100vw;
}

.search-bar {
  margin-left: 1rem;
}

.search-title {
  margin-top: 1rem;
}

/* main */

.main {
  /* margin: 0 auto; */
  padding: 1rem;
  padding-top: 0;
  margin-top: -1rem;
  max-width: 2400px;
  height: 100vh;
  /* border: 1px solid red; */

}

/* grid container that holds the grid items (cards) */

.grid-container {
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: auto;
  grid-auto-flow: row;
}

/* main container-2 stops 0 auto to go full width */
.main .container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 0;
  padding-bottom: 8rem;
  /* border: 1px solid red; */
}


.main-title {
  padding-top: .3rem;
}

/* card section */

.wrapper {
  top: 4rem;
  position: relative;
  padding-bottom: 2rem;
}

.card-container {
  width: 450px;
  padding: 1rem;
  border-radius: 1rem;
  /* border: 1px dashed lightgreen; */
}


.card .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.artist-info {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;

}

.artist-info .container {
  display: flex;
  justify-content: space-between;

}

/* footer container */

.footer {
  letter-spacing: .3rem;
  /* bottom: 0; */
  top: calc(100vh - 6.5rem);
  margin: 1rem auto;
  min-height: 4rem;
  position: fixed;
  width: 100vw;
  background-color: var(--dark);
  border-top: 9px solid var(--shade);
}


.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  width: 30px;
  height: 30px;
  margin: 0 1rem;
}

.footer-tags {
  margin-top: -1.5rem;
}

.footer p {
  font-size: 14px;
}

/* modals */

/* artist tickets modal */

.custom-header {
  display: block;
  text-align: center;
  padding: 1rem;
  padding-top: 2rem;
}

.ticket-modal h1 {
  font-size: 48px;
}

.modal-data-helper {
  text-align: center;
}

.artist-event-count {
  padding-bottom: 0;
}

.buy-button {
  margin-top: 2rem;
  padding-top: 0;
}

.no-tour {
  padding-left: 2rem;
  margin-top: 1rem;
}

.no-tour-text {
  margin-left: 1rem;
}

.artist-no-tour {
  padding-top: 1rem;
}

#humourInline {
  padding-right: 2.5rem;
  font-size: 16px;
  color: var(--pink);
}

.info-list > .active  { 
  background-color: var(--light-purps); 
  border-radius: 1rem;
  margin-left: 1rem;
}

/* media queries */

@media (max-width: 1400px) {
  .header-title h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .header-image img {
    width: 150px;
  }

  .footer {
    margin-top: -4rem;
    bottom: -6rem;
  }

  .footer-tags {
    margin-top: 0;
  }

  .footer p {
    padding-top: 1.5rem;
    font-size: 12px;
  }

  .footer img {
    margin-top: 1.5rem;
  }
}

@media (max-width: 1366px) {

  .music-search {
    align-items: center;
    margin-bottom: .2rem;
  }

  #search-area .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
  }

  .search-button {
    width: 8rem;
    height: 1.9rem;
  }

  .btn b {
    font-size: 14px;
    position: relative;
    top: -4px;
  }

  input {
    width: 9rem;
    height: 1.6rem;
    font-size: 10px;
    padding-left: .5rem;
  }
  
  .search-title {
    height: 2rem;
  }

  .search-title p {
    font-size: 15px;
  }

  .main {
    margin: 0 2rem;
  }

  .main .container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
  }
}

@media (max-width: 1112px) {

  .music-search {
    align-items: center;
    margin-bottom: .2rem;
  }

  #search-area .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
  }

  .search-button {
    width: 8rem;
    height: 1.9rem;
  }

  .btn b {
    font-size: 14px;
    position: relative;
    top: -4px;
  }

  input {
    width: 7rem;
    height: 1.6rem;
    font-size: 10px;
    padding-left: .5rem;
  }
  
  .search-title {
    height: 2rem;
  }

  .search-title p {
    font-size: 12px;
  }

  .main {
    margin: 0 auto;
    /* watch it */
    padding-left: 4.5rem;
  }

  .main .container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
  }
}

/* ipad 12.9 */
@media (max-width: 1024px) {


  .main {
    margin: 2rem auto;
  }

  .main .container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
  }

  .header-title h1 {
    font-size: 5rem;
  }

  .header-image img {
    width: 100px;
  }

  .custom-nav p {

    font-size: 12px;
  }

  .search-button {
    width: 8rem;
  }

  input {
    width: 8rem;
  }

  .main {
    margin: 0;
  }

  .card {
    width: 420px !important;
  }
  

}

/* ipad 10" */

@media (max-width: 834px) {


  .header-title h1 {
    font-size: 70px;
  }

  .container {
    margin: 0 auto;
    min-width: 100vw;

  }

  .header .container {
    margin: -2rem;
    padding: 1rem;
  }

  .custom-nav {

    height: 4rem;
    margin: 0;
    font-size: 8px;
    padding-top: .3rem;
  }

  .custom-nav p {
    font-size: 12px;
  }

  .music-search {
    margin-top: .7rem;
  }

  .search-button {
    width: 7rem;
    height: 1.9rem;
  }

  .btn b {
    font-size: 14px;
    position: relative;
    top: -4px;
  }

  input {
    width: 7rem;
    height: 1.6rem;
    font-size: 10px;
    padding-left: .5rem;
  }
  
  .search-title {
    height: 1rem;
  }

  .search-title p {
    font-size: 10px;
  }

  .main {
    width: 100vw;
    padding: 1.5rem;
    margin: 0 auto;
  }

  .main .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem auto;
  
  }

  .card {
    width: 370px !important;
  }


  .footer {
    margin-top: -4rem;
    bottom: -8rem;
  }

  .footer-tags {
    margin-top: 0;
  }

  .footer p {
    padding-top: 1rem;
    font-size: 10px;
  }

  .footer img {
    margin-top: 1rem;
  }
}

/* ipad 7-9" */

@media (max-width: 768px) {

  .custom-nav {

    height: 4rem;
    margin: 0;
    font-size: 8px;
    padding-top: .3rem;
  }

  .custom-nav p {
    font-size: 9px;
  }

  .music-search {
    margin-top: 1rem;
  }

  .search-button {
    width: 6rem;
    height: 1.9rem;
  }

  .btn b {
    font-size: 14px;
    position: relative;
    top: -4px;
  }


  input {
    width: 5rem;
    height: 1.2rem;
    font-size: 10px;
  }
  
  .search-title {
    height: 1rem;
  }

  .search-title p {
    font-size: 10px;
  }

  .main .container-2 {
    display: flex;
    justify-content: center;
  
  }

  .footer {
    margin-top: -4rem;
    bottom: -2rem;
  }

  .footer-tags {
    margin-top: 0;
  }

  .footer p {
    padding-top: 1rem;
    font-size: 14px;
  }

  .footer img {
    margin-top: 0;
  }

  .card {
    width: 345px !important;
  }

  .main {
    margin: 0;
    padding: 1.1rem;
  }
}

@media (max-width: 504px) {

  .search-title {
    display: none;
  }
  .search-title-hide {
    display: inline;
  }

  .header-title h1 {
    font-size: 30px;
  }

  .header-title h2 {
    font-size: 14px;
  }

  .container {
    margin: 0 auto;

  }

  .header .container {
    margin: -2rem;
    margin-bottom: .3rem;
    padding: 1rem;
  }

  .header-image img {
    width: 65px;
    height: 65px;
  }

  .search-title-hide p {
    font-size: 10px;
    text-align: center;
    margin-top: 1rem;
    color: var(--orange);
  }

  .music-search {
    margin: 0 auto;
    margin-top: -.8rem;
    padding-top: 1.5rem;
    margin-left: 1.7rem;
    
  }

  .search-button {
    width: 14rem;
    height: 2rem;
    padding-top: 0;
    padding-left: .63rem;
  }

  .btn b {
    font-size: 18px;
    position: relative;
    top: -1px;
  }

  input {
    width: 9rem;
    height: 1.6rem;
    font-size: 10px;
  }
  
  .search-title {
    height: 1rem;
  }

  .search-title p {
    font-size: 3px;
  }

  .main {
    margin: 0 auto;
    padding-left: 4.5rem;
  }
}

@media (max-width: 414px) {

  .search-title {
    display: none;
  }
  .search-title-hide {
    display: inline;
  }

  .search-title-hide p {
    font-size: 10px;
    text-align: center;
    margin-top: -1rem;
    color: var(--orange);
  }

  .header-title h1 {
    font-size: 30px;
  }

  .header-title h2 {
    font-size: 14px;
  }

  .container {
    margin: 0 auto;

  }

  .header .container {
    margin: -2rem;
    margin-bottom: .3rem;
    padding: 1rem;
  }

  .header-image img {
    width: 65px;
    height: 65px;
  }

  .custom-nav {
  
    height: 3.5rem;
    margin: 0;
    margin-top: -2rem;
    padding-top: .3rem;
  }

  .custom-nav p {
    font-size: 7px;
  }

  .container {
    padding: .5rem;
  }

  .custom-nav .container {
    margin: 0 auto;

  }

  .music-search {
    margin-top: -.8rem;
    padding-top: 1.5rem;
    margin-left: .4rem;
  }

  .search-button {
    width: 11rem;
    height: 1.8rem;
    padding-top: 0;
    padding-left: .63rem;
  }

  .btn b {
    font-size: 18px;
    position: relative;
    top: -1px;
  }

  input {
    width: 9rem;
    height: 1.6rem;
    font-size: 10px;
  }
  
  .search-title {
    height: 1rem;
  }

  .search-title p {
    font-size: 3px;
  }

  .main {
    width: 100vw;
    /* border: 1px solid red; */
    padding: 0;
    margin: 1rem 0;
    margin-left: .8rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .main .container-2 {
    width: 100vw;
    margin: 1rem auto;
  }

  .card {
    width: 378px !important;
  }


  .footer {
    margin-top: 0;
    bottom: -8rem;
  }

  .footer-tags {
    margin-top: -3rem;
  }

  .footer p {
    font-size: 8px;
  }

  .footer img {
    margin-top: 1rem;
  }

}

@media (max-width: 375px) {

  .music-search {
    margin-top: -.8rem;
    padding-top: 1.5rem;
    margin-left: .7rem;
  }

  .search-button {
    width: 9rem;
    height: 1.8rem;
    padding-top: 0;
    padding-left: .63rem;
  }

  .btn b {
    font-size: 18px;
    position: relative;
    top: -1px;
  }

  input {
    width: 8rem;
    height: 1.6rem;
    font-size: 10px;
  }
  

  .main {
    margin-left: .5rem;
  }

  .card {
    width: 350px !important;
  }
}


@media only screen and (max-width: 320px) and (min-width: 320px) {


  .header-title {
    margin-top: 2rem;
  }

  .header-title h2 {
    font-size: 12px;
  }

  .header-image img {
    width: 40px;
    height: 40px;
  }

  .custom-nav .container {
    height: 4rem;
    margin: 0;
  }

  .search-title {
    display: none;
  }

  .search-title-hide {
    margin-top: 1.5rem;
  }

  .search-title-hide p {
    font-size: 8px;
  }

  .music-search {

    height: 4rem;
    margin: 0 -.5rem .7rem 0;
    padding: 0;
    padding-top: .8rem;
    /* border: 1px solid red; */
  }

  .search-button {
    width: 9rem;
    height: 1.8rem;
    padding-top: 0;
    padding-left: .3rem;
  }

  .btn b {
    font-size: 17px;
    position: relative;
    padding-left: .5rem;
    top: 2px;
  }

  input {
    width: 6rem;
    height: 1.6rem;
    font-size: 10px;
  }

  .main {
    margin-left: .3rem;
  }
  
  .card {
    width: 302px !important;
  }

  .footer  {
    padding-left: .2rem;
    margin: 0 auto;
  }

  .footer-tags {
    margin-top: -3.5rem;
  }

  .footer p {
    font-size: 8px;
  }

  .footer img {
    margin-top: 1rem;
  }
}