/* music app CSS styling - todo just a basic template */

:root {
  --black: #111111;
  --darkest: #303030;
  --darker: #333333;
  --dark: #555555;
  --shade: #3E3E3E;
  --light: #fff;
  --pink: #E34EB3;
  --orange: #ED9464;
  --aubergine: #73276D;
  --purps: rgb(85, 12, 193);
  --purps_lite: #a561ee;
  --green: #07d159;
  --warning: #D65745;
  --light-purps: rgb(132, 89, 197);
  --hover-span: rgb(0, 255, 30);
  --box-shadow: 5px 7px rgba(0, 0, 0, 0.2);
  --gradient: linear-gradient(45deg,
      rgba(54, 54, 54, 0.8) 0%,
      rgba(125, 125, 125, 0.7) 100%);
  --gradient-light: linear-gradient(45deg,
      rgba(158, 158, 158, 0.8) 0%,
      rgba(255, 255, 255, 0.7) 100%);
  --btn-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2),
    0 7px 10px 0 rgba(0, 0, 0, 0.1);

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: 1px solid red; */
}

body {
  background-color: var(--black);
  font-family: 'Poppins', sans-serif;
  color: var(--light);
  line-height: 1.5;
  padding: 0;
  margin: 0;
  height: 200vh;

}

h1 {
  font-family: 'tagsxtremeregular', sans-serif;
  font-size: 110px;
  font-weight: 900;
}

h2 {
  font-size: 28px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
}

p {
  font-weight: 700;
}

ul {
  padding-top: 1rem;
  padding-left: 1.5rem;
}

ul>li {
  list-style-type: none;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: var(--light);
}

a:hover {
  color: var(--highlight);
}

i {
  padding: 1rem;
}

input {
  text-transform: capitalize; 
  padding-left: .7rem;
  border-radius: .5rem;
  border: none;
  width: 12.5rem;
  height: 2rem;
}

hr {
  border: 2px solid var(--dark);
  width: 75%;
  margin: 0 auto;
}

span {
  color: var(--light);
}

/* buttons */

.btn {
  background: var(--purps);
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: .2rem;
  margin: 1rem;
  color: var(--light);
  border-radius: 2rem;
}

.btn-warning {
  background-color: var(--warning);
  border: none;
}

.btn:hover {
  background: var(--light) !important;
  color: black !important;
}

.start-button {
  border-radius: 2rem;
  padding: 1rem 2rem;
  width: 25%;
  font-size: 22px;
}

.event-btn-block {
  display: block;
  background-color: var(--darker);
  margin-top: -3rem;
}

.event-btn-block .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.events-button {
  background-color: var(--green);
}

.search-button {
  width: 12.5rem;
}

/* HOME PAGE - LIBRARY */

/* flex container */

.container {
  margin: 0 auto;
  /* border: 1px solid red; */
}

/* header */

.header {
  background-color: var(--darkest);
  padding: 2rem;
  padding-top: 1rem;
  margin-bottom: 0;
  /* border: 1px solid red; */
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-image img {
  width: 200px;
}

.header-title {
  margin-top: 2rem;
}

/* sticky nav search */

.custom-nav {
  z-index: 99;
  background: var(--darker);
  margin: 0;
  margin-bottom: 2rem;
  margin-top: -1rem;
  height: 5rem;
  border-bottom: 9px solid var(--shade);
}

#search-area .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100vw;
  /* border: 1px solid red; */
}

.search-bar {
  margin-left: 1rem;
}

.search-title {
  margin-top: 1rem;
}

/* main */

.main {
  /* margin: 0 auto; */
  padding: 1rem;
  padding-top: 0;
  margin-top: -1rem;
  max-width: 2400px;
  height: 100vh;
  /* border: 1px solid red; */

}

/* grid container that holds the grid items (cards) */

.grid-container {
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: auto;
  grid-auto-flow: row;
}

/* main container-2 stops 0 auto to go full width */
.main .container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 0;
  padding-bottom: 8rem;
  /* border: 1px solid red; */
}


.main-title {
  padding-top: .3rem;
}

/* card section */

.wrapper {
  top: 4rem;
  position: relative;
  padding-bottom: 2rem;
}

.card-container {
  width: 450px;
  padding: 1rem;
  border-radius: 1rem;
  /* border: 1px dashed lightgreen; */
}


.card .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.artist-info {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;

}

.artist-info .container {
  display: flex;
  justify-content: space-between;

}

/* footer container */

.footer {
  letter-spacing: .3rem;
  /* bottom: 0; */
  top: calc(100vh - 6.5rem);
  margin: 1rem auto;
  min-height: 4rem;
  position: fixed;
  width: 100vw;
  background-color: var(--dark);
  border-top: 9px solid var(--shade);
}


.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.footer img {
  width: 30px;
  height: 30px;
  margin: 0 1rem;
}

.footer-tags {
  margin-top: -1.5rem;
}

.footer p {
  font-size: 14px;
}

/* modals */

/* artist tickets modal */

.custom-header {
  display: block;
  text-align: center;
  padding: 1rem;
  padding-top: 2rem;
}

.ticket-modal h1 {
  font-size: 48px;
}

.modal-data-helper {
  text-align: center;
}

.artist-event-count {
  padding-bottom: 0;
}

.buy-button {
  margin-top: 2rem;
  padding-top: 0;
}

.no-tour {
  padding-left: 2rem;
  margin-top: 1rem;
}

.no-tour-text {
  margin-left: 1rem;
}

.artist-no-tour {
  padding-top: 1rem;
}

#humourInline {
  padding-right: 2.5rem;
  font-size: 16px;
  color: var(--pink);
}

.info-list > .active  { 
  background-color: var(--light-purps); 
  border-radius: 1rem;
  margin-left: 1rem;
}

/* ARTIST PAGE - BIO and MORE */

/* header-alt */

.alt-header {
  background-color: var(--darkest);
  padding: 2rem;
  margin-bottom: 0;
}

.alt-header .alt-container {
  display: flex;
  justify-content: center;
  /* no vertical align */
}

.back-header-block {
  display: block;
}

.vinyl-image {
  width: 200px;
  height: 200px;
}

.artist-bio-image {
  width: 200px;
  height: 200px;
}

/* bio intro section */

.artist-main {
  margin: 0;
}

.artist-main .alt-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-top {
  margin: 2rem auto;
  /* border: 1px solid red; */
}

.bio-top .container {
  display: flex;
  justify-content: center;
}

.bio-section-title {
  text-align: left;
}

.artist-large {
  width: 600px;
  height: 600px;
}

.bio-card {
  width: 35vw;
  height: 55vh;

}

.summary h2 {
  margin-bottom: 2rem;
}

/* discography section */

.discography {
  margin: 2rem auto;
  padding-top: 2rem;
}

.discography .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-buttons {
  margin-top: 2rem;
}

.link-card {
  margin: 0 auto;
}

.disc-grid-container {
  margin: 0;
  float: left;
}

.discog-grid img {
  width: 320px;
  height: 320px;
}

/* media queries */

@media (max-width: 1400px) {
  .header-title h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .header-image img {
    width: 150px;
  }
}

/* ipad 12.9 */
@media (max-width: 1024px) {

  .container {
    margin: 0;
  }

  .header-title h1 {
    font-size: 5rem;
  }

  .header-image img {
    width: 100px;
  }

  .custom-nav p {
    /* ipad pro */
    font-size: 12px;
  }

  .search-button {
    width: 8rem;
  }

  input {
    width: 8rem;
  }

  .main .container-2 {
    margin-left: 4.9rem;
  }
}

/* ipad 10" */

@media (max-width: 834px) {

  .custom-nav {
    /* display: block; */
    height: 4rem;
    margin: 0;
    font-size: 8px;
    border: 1px solid red;
  }

  .custom-nav .container {
    margin: 0;

  }

  /* .container-2 {
    margin-top: -7.3rem;
    padding-top: -5rem;
    padding-left: 1.3rem;
    margin: 0;
    border: 1px solid lightgreen;
  } */

  .search-button {
    width: 7rem;
  }

  input {
    width: 7rem;
    font-size: 10px;
  }
  
  .search-title {
    height: 1.7rem;
  }

  .main {
    width: 100vw;
    /* border: 1px solid red; */
    padding: 0;
    margin: 1rem 0;
  }

  .main .container-2 {
    width: 100vw;
    /* padding: 1rem; */
    margin: 1rem auto;
    /* border: 1px solid red; */
  }

  .card {
    width: 375px !important;
  }
}

/* ipad 7-9" */

@media (max-width: 768px) {

  .main .container-2 {
    width: 100vw;
    /* padding: 1rem; */
    margin: 0 auto;
    /* border: 1px solid red; */
  }

  .card {
    width: 350px !important;
  }
}

@media (max-width: 690px) {

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 22px;
  }

  .navbar a {
    font-size: 14px;
  }

  .nav-left img {
    width: 3rem;
    /* chrome fix */
    height: 3rem;
    margin: .5rem 0;
  }
  
  .nav-left a {
    font-size: 22px;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .card {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  #password {
    font-size: 1rem;
  }
}

