<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../images/png/favicon.ico">
  <link rel="stylesheet" href="../css/webfontkit-tagsExtreme/stylesheet.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,800,900">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/anims.css">
  <link rel="stylesheet" href="../css/style.css">
  <script defer src="https://kit.fontawesome.com/6f088b358c.js" crossorigin="anonymous"></script>
  <title>Music4You - The Artist Library & Ticket Search Engine</title>
</head>

<body>

  <header class="header">
    <div class="container">
      <div class="header-image">
        <img src="../images/png/vinyl_crystal.png" alt="vinyl-record-white-img">
      </div>
      <div class="header-title">
        <h1>Music4You</h1>
        <h2>Artist Library & Ticket Booking Search Engine</h2>
      </div>
      <div class="header-image">
        <img src="../images/png/vinyl-record.png" alt="vinyl-record-img">
      </div>
    </div>
    <!-- available on all devices sizes now -->
    <div class="header-tagline d-flex-inline">
      <p>Build and store a collection of favourite artists... find tickets to shows, access tour dates and more!</p>
    </div>
    <hr>
  </header>

  <!-- nav search bar and search artist button -->
  <nav class="navbar navbar-expand sticky-top custom-nav" id="search-area">
    <div class="container">
        <!-- input label -->
        <input class="form-input search-bar" id="search-input" type="text" placeholder="search artist"
          aria-labelledby="music-search" aria-controls="music-search" onfocus="this.value=''">
        <!-- search button -->
        <button type="submit" class="btn search-button" aria-label="submit search"
          data-bs-toggle="modal" data-bs-target="#errorModalEl">
          <b>Search</b>
        </button>
    </div>
  </nav>
  <!-- main -->
  <main class="main">
    <div class="container-2">
      <!-- 'your searches' title & grid layout -->
      <!-- grid section -->
      <div class="row" id="grid-container"></div>
    </div>
  </main>

  <!-- Modals -->
  <div class="modal fade" id="errorModalEl" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"></div>

  <!-- Footer-->
  <footer class="footer py-5 bg-dark">
    <div class="container px-4 px-lg-5 footer-tags">
      <img src="../images/png/favicon.ico" alt="icon-record">
      <p class="m-1 text-center text-white">Copyright &copy;2023 Music4You. All rights reserved. Made with love.</p>
      <img src="../images/png/favicon.ico" alt="icon-record">
    </div>
  </footer>

  <!-- scripts -->
  <script src="../scripts/config.js"></script>
  <script src="../scripts/data_render.js"></script>
  <script src="../scripts/ticketmaster.js"></script>
  <!-- testing -->
  <!-- <script src="./assets/scripts/testing/api_drafting.js"></script> -->
  <!-- <script src="./assets/scripts/testing/discogs_images.js"></script> -->
  <!-- <script src="./assets/scripts/testing/promise_all.js"></script> -->
  <!-- <script src="./assets/scripts/testing/returning_accessing.js"></script> -->
  <!-- <script src="./assets/scripts/testing/ticketmaster_test.js"></script> -->
  <!-- <script src="./assets/scripts/testing/grid_gen.js"></script> -->
  <!-- <script src="./assets/scripts/testing/passing_variables.js"></script> -->
  <!-- <script src="./assets/scripts/testing/saving_objects_local.js"></script> -->
  <!-- <script src="./assets/scripts/testing/remove_correct_item.js"></script> -->
  <!-- <script src="./assets/scripts/testing/re_rendering_logic.js"></script> -->
</body>

</html>