<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/webfontkit-tagsExtreme/stylesheet.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,800,900">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>An Artist Bio Page - More Info Button clicked</title>
</head>
<header class="alt-header" style="text-align: center;">
  <div class="alt-container">
    <div class="back-header-block">
      <img src="../images/vinyl-record.png" alt="vinyl-record" class="vinyl-image">
      <!--  needs an anchor tag href="home.html" -->
      <button class="btn back">Back</button>
    </div>
    <div class="header-title">
      <!-- generated artist title [todo] -->
      <h1>artist</h1>
      <h2>Explore, listen, buy tickets, learn more about ${artistName}</h2>
      <p>Here is where the user is sent once they click on a artists card 'More Info' button</p>
    </div>
    <div class="header-thumbnail-image">
      <img src="../images/vinyl-record.png" alt="vinyl-record" class="artist-bio-image">
    </div>
    <!-- <p>bio thumbnail replaces this vinyl:</p> -->
  </div>
  <hr>
</header>

<body>
  <hr>
  <!-- <h4>page skeleton notes</h4>
  <h4>This section will tap further into the lastFM API - providing the user with the following:</h4>
  <p>
  <ul>
    initial section
    <li>An artist name (title)</li>
    <li>Band Members names (where available/applicable</li>
    <li>A new image - not the same as the first card page</li>
    <li>A summary (bio text) that nicely condenses the bio into a readable chunk</li>
    <li>Buttons - playlist - find tickets - go to their homepage </li>
    <li>IF POSSIBLE: A discography grid displaying all their albums ? API limiting</li>

    delve deeper section
    <li>What to find out more about ${artistName}? - continue reading!</li>
    <li>A larger artist image, specifically chosen from the database</li>
    <li>Artist genres - including styles, sub-genres etc</li>
    <li>An artist Bio - provides history about their origins and history with Music</li>
    <li>A playlist - hoping to bring the playlist to the page. If not, a link button to lastFM artist playlist/homepage
    </li>
    <li>Similar Artists section - a chance for user to discover new or similar artists</li>
    <li>a genre playlist link - play direct or a link to that genres 'genre playlist'</li>
    <li></li>
    <li>On Tour? A toggle that will identify whether the artist/band are currently touring, or not</li>
    <li>Ticketmaster Info: Using the API we will have a 'book tickets' button that will allow user to search
      ticketmaster</li>
  </ul>
  </p> -->
  <hr>
  <main class="artist-main">
    <div class="alt-container">
      <!-- main content here -->
      <section class="artist-intro">
        <div class="container">
          <div class="bio-top">
            <h2 class="bio-section-title">Artist Bio/Intro section</h2>
            <div class="container">
              <!-- large band image left -->
              <img src="../images/vinyl_crystal.png" alt="large artist image" class="artist-large">
              <!-- card with artist bio summary right -->
              <div class="card bio-card bg-dark m-3 justify-content-center">
                <!-- this will be generated content -->
                <div class="summary">
                  <h2>${ArtistName}</h2>
                  <p class="ipsum">about artist summary about artist summary about artist summary
                    about artist summary about artist summary about artist summary about artist summary.
                    about artist summary about artist summary about artist summary.
                    <br>
                    about artist summary about artist summary about artist summary
                    about artist summary about artist summary about artist summary about artist summary.
                    about artist summary about artist summary about artist summary.
                    <br>
                    about artist summary about artist summary about artist summary
                    about artist summary about artist summary about artist summary about artist summary.
                    about artist summary about artist summary about artist summary.
                  </p>
                </div>
                <!-- CTA buttons -->
                <div class="cta-buttons d-flex-inline justify-content-center">
                  <a href="#">link to genre name */</a>
                  <a href="#">link to genre playlist */</a>
                  <a href="#">link to similar artists</a>
                  <!-- <p>CTA Buttons</p> -->
                  <button class="btn playlist">Playlists</button>
                  <button class="btn tickets">Find tickets</button>
                  <button class="btn toggle"><i class="on-tour-toggle fa fa-toggle">Tour Toggle</i></button>
                </div>
              </div>
            </div>

          </div>
          <!-- genre anchor tags -->
          <!-- quick link tags to 'genre playlist' 'similar artists' -->
        </div>
        <hr>
      </section>
    </div>
    <div class="full-container">
      <section class="links">
        <div class="container">
          <div class="card link-card bg-dark m-3 justify-content-center">
            <h3 style="text-align: center;">playlist and artist page links section</h3>
            <div class="d-flex-inline">
              <a href="#">link to full bio page *</a>
              <a href="#">link to full artist playlist *</a>
              <a href="#">link to similar artists playlist *</a>
              <a href="#">link to same genre playlist *</a>
              <a href="#">link to full ticketmaster website</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="disography">
      <div class="container">
        <div class="disc-container">
          <h3 style="text-align: center;">{ARTIST NAME} Discography</h3>
          <!-- discography grid section -->
          <div class="disc-grid-container">
            <div class="d-inline-flex discog-grid justify-content-center">
              <img src="../images/vinyl-record.png" alt="">
              <img src="../images/vinyl-record.png" alt="">
              <img src="../images/vinyl-record.png" alt="">
              <img src="../images/vinyl-record.png" alt="">
            </div>
          </div>
          <!-- will pull a selection of album artwork (if possible?) -->
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">

  </footer>
</body>

</html>